In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Gilgit,PK,2022-04-09 02:04:04,35.9221,74.3087,63.28,43,100,2.53
1,1,Souillac,MU,2022-04-09 02:01:26,-20.5167,57.5167,77.34,83,68,13.40
2,2,Lebu,CL,2022-04-09 02:04:05,-37.6167,-73.6500,52.65,90,3,5.64
3,3,Torbay,CA,2022-04-09 01:57:20,47.6666,-52.7314,30.76,89,75,9.22
4,4,Palmas De Monte Alto,BR,2022-04-09 02:04:05,-14.2672,-43.1619,74.25,39,0,5.66

In [3]:
# get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent wind speed.
locations = city_data_df[["Lat", "Lng"]]
Wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=Wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Gilgit,PK,2022-04-09 02:04:04,35.9221,74.3087,63.28,43,100,2.53
1,1,Souillac,MU,2022-04-09 02:01:26,-20.5167,57.5167,77.34,83,68,13.40
4,4,Palmas De Monte Alto,BR,2022-04-09 02:04:05,-14.2672,-43.1619,74.25,39,0,5.66
5,5,Batangafo,CF,2022-04-09 02:04:05,7.3008,18.2833,75.43,73,97,5.68
7,7,Rikitea,PF,2022-04-09 02:04:06,-23.1203,-134.9692,79.45,74,11,16.60
8,8,Nouakchott,MR,2022-04-09 01:57:23,18.0858,-15.9785,71.53,60,2,12.28
10,10,Atuona,PF,2022-04-09 02:04:07,-9.8000,-139.0333,79.79,78,64,16.64
11,11,Kapaa,US,2022-04-09 02:04:07,22.0752,-159.3190,79.12,76,20,16.11
12,12,Port Alfred,ZA,2022-04-09 02:04:07,-33.5906,26.8910,61.83,78,86,9.93
13,13,Palau,PW,2022-04-09 02:04:08,7.5030,134.6210,80.56,78,100,11.50

In [12]:
preferred_cities_df.count()

City_ID       323
City          323
Country       321
Date          323
Lat           323
Lng           323
Max Temp      323
Humidity      323
Cloudiness    323
Wind Speed    323
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                    City Country  Max Temp      Lat       Lng Hotel Name
0                 Gilgit      PK     63.28  35.9221   74.3087
1               Souillac      MU     77.34 -20.5167   57.5167
4   Palmas De Monte Alto      BR     74.25 -14.2672  -43.1619
5              Batangafo      CF     75.43   7.3008   18.2833
7                Rikitea      PF     79.45 -23.1203 -134.9692
8             Nouakchott      MR     71.53  18.0858  -15.9785
10                Atuona      PF     79.79  -9.8000 -139.0333
11                 Kapaa      US     79.12  22.0752 -159.3190
12           Port Alfred      ZA     61.83 -33.5906   26.8910
13                 Palau      PW     80.56   7.5030  134.6210

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")
hotel_df.head(10)

                    City Country  Max Temp      Lat       Lng Hotel Name
0                 Gilgit      PK     63.28  35.9221   74.3087
1               Souillac      MU     77.34 -20.5167   57.5167
4   Palmas De Monte Alto      BR     74.25 -14.2672  -43.1619
5              Batangafo      CF     75.43   7.3008   18.2833
7                Rikitea      PF     79.45 -23.1203 -134.9692
8             Nouakchott      MR     71.53  18.0858  -15.9785
10                Atuona      PF     79.79  -9.8000 -139.0333
11                 Kapaa      US     79.12  22.0752 -159.3190
12           Port Alfred      ZA     61.83 -33.5906   26.8910
13                 Palau      PW     80.56   7.5030  134.6210

In [16]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

In [ ]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [ ]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [ ]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig