## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key= g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mersing,MY,2.4312,103.8405,78.51,87,55,3.13,moderate rain
1,1,Iqaluit,CA,63.7506,-68.5145,-0.31,64,71,11.01,broken clouds
2,2,Coquimbo,CL,-29.9533,-71.3436,58.95,82,6,2.51,clear sky
3,3,Moose Factory,CA,51.2585,-80.6094,22.98,70,66,6.76,broken clouds
4,4,Bluff,NZ,-46.6000,168.3333,55.80,73,7,7.34,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mersing,MY,2.4312,103.8405,78.51,87,55,3.13,moderate rain
5,5,Roswell,US,34.0232,-84.3616,72.09,68,99,1.70,overcast clouds
7,7,Butaritari,KI,3.0707,172.7902,81.77,74,12,11.81,few clouds
9,9,Vaini,TO,-21.2000,-175.2000,81.32,79,97,13.31,overcast clouds
10,10,Airai,TL,-8.9266,125.4092,64.13,82,78,1.99,broken clouds
16,16,Manggar,ID,-2.8833,108.2667,79.81,81,63,1.88,broken clouds
24,24,Hobyo,SO,5.3505,48.5268,82.98,77,66,14.05,light rain
26,26,Katiola,CI,8.1333,-5.1000,74.05,84,93,3.09,light rain
27,27,Sitia,GR,35.2000,26.0986,62.98,84,46,16.22,scattered clouds
30,30,Vung Tau,VN,10.3460,107.0843,81.88,77,30,20.76,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

Unnamed: 0             553
City                   553
Country                545
Lat                    553
Lng                    553
Max Temp               553
Humidity               553
Cloudiness             553
Wind Speed             553
Current Description    553
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df.count()

Unnamed: 0             545
City                   545
Country                545
Lat                    545
Lng                    545
Max Temp               545
Humidity               545
Cloudiness             545
Wind Speed             545
Current Description    545
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mersing,MY,78.51,moderate rain,2.4312,103.8405,
5,Roswell,US,72.09,overcast clouds,34.0232,-84.3616,
7,Butaritari,KI,81.77,few clouds,3.0707,172.7902,
9,Vaini,TO,81.32,overcast clouds,-21.2000,-175.2000,
10,Airai,TL,64.13,broken clouds,-8.9266,125.4092,
16,Manggar,ID,79.81,broken clouds,-2.8833,108.2667,
24,Hobyo,SO,82.98,light rain,5.3505,48.5268,
26,Katiola,CI,74.05,light rain,8.1333,-5.1000,
27,Sitia,GR,62.98,scattered clouds,35.2000,26.0986,
30,Vung Tau,VN,81.88,scattered clouds,10.3460,107.0843,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found...Skipping.")

Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mersing,MY,78.51,moderate rain,2.4312,103.8405,Timotel Hotel
5,Roswell,US,72.09,overcast clouds,34.0232,-84.3616,La Quinta Inn & Suites by Wyndham Atlanta Roswell
7,Butaritari,KI,81.77,few clouds,3.0707,172.7902,Isles Sunset Lodge
9,Vaini,TO,81.32,overcast clouds,-21.2000,-175.2000,Keleti Beach Resort
16,Manggar,ID,79.81,broken clouds,-2.8833,108.2667,Guest Hotel

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} </dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)


# Call the figure to plot the data.
fig
# 11b. Display the figure

Figure(layout=FigureLayout(height='420px'))